*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Markazi Text", serif;
}

img {
  max-width: 100%;
}

p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

.einstein-photo {
  display: block;
}

#image {
  height: auto;
}

.intro-box {
  padding-top: 4.5em;
  padding-bottom: 5.5em;
  text-align: center;
  background-color: #fff9ed;
}

.name {
  font-weight: 700;
  font-size: 4rem;
  line-height: 2.5rem;
}

.dates {
  font-size: 1.5rem;
  color: #3b3b3b;
}

.tagline {
  margin-top: 5em;
  font-size: 1.4rem;
  color: #3b3b3b;
  font-style: italic;
}

#tribute-link {
  text-decoration: none;
  color: #e4e4e4;
}

.main-section {
  padding: 2em;
}

.main-section h2 {
  margin: 0.5em 0 0.5em 0;
  font-size: 2rem;
}

.main-paragraph {
  line-height: 1.5em;
  font-size: 1.7rem;
}

.main-paragraph + .main-paragraph {
  margin-top: 0.75em;
}

@media (min-width: 900px) {
  .top-section {
    display: flex;
  }

  .intro-box {
    width: 50%;
    padding-top: 10em;
    padding-bottom: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .name {
    font-size: 4.5rem;
    line-height: 2.5rem;
  }

  .dates {
    font-size: 1.5rem;
  }

  .tagline {
    font-size: 1.3rem;
  }

  .einstein-photo {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
  }

  .main-section {
    display: flex;
    justify-content: flex-end;
  }

  .col {
    width: 33%;
  }

  .col + .col {
    margin-left: 2em;
  }
}

@media (min-width: 1200px) {
  .name {
    font-size: 6rem;
    line-height: 4rem;
  }

  .dates {
    font-size: 2rem;
  }

  .tagline {
    font-size: 1.7rem;
  }

  .col {
    width: 24%;
  }
}
